@font-face {
  font-family: 'Neulis Alt';
  src: url('https://Aurelieeeeeee.github.io/Neulis-font/NeulisAlt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neulis Alt';
  src: url('https://Aurelieeeeeee.github.io/Neulis-font/NeulisAlt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neulis Alt';
  src: url('https://Aurelieeeeeee.github.io/Neulis-font/NeulisAlt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neulis Alt';
  src: url('https://Aurelieeeeeee.github.io/Neulis-font/NeulisAlt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
